# http://nedbatchelder.com/code/coverage/excluding.html
[report]
# omit =
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if self.debug:
    if settings.debug:
    raise NotImplementedError
