{% extends "layout2.html" %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>{no-lij}</h1>
        <p>Bringing knowledge to the masses</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4>Easily accessible</h4>
            <p>SOme bullshit here</p>
        </div>
        <div class="col-sm-4">
            <h4>Easily accessible</h4>
            <p>SOme bullshit here</p>
        </div>
        <div class="col-sm-4">
            <h4>Easily accessible</h4>
            <p>SOme bullshit here</p>
        </div>
    </div>
</div>
{% endblock %}
