{% extends "layout.html" %}
{% from 'macros.html' import render_form %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
			<div class="well">
				Signup for a company account here.
			</div>
            {{ render_form(company_form, action_url=url_for('root.company_signup'), action_text='Signup') }}
			<br>
			<p>Is your company already on {nol-ij}? <a href="{{ url_for('root.user_signup') }}">Create an account</a> with your company!</p>
        </div>
    </div>
</div>
{% endblock %}
