{% extends "layout.html" %}
{% from 'macros.html' import render_form %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        	<p>	Members of an organization can signup by using their email account of the same domain, and we will automatically grant you access to your company account. You can also ask your company's {nol-ij} manager for a code which will allow you to sign under your company!  </p>
            {{ render_form(signup_form, action_url=url_for('root.user_signup'), action_text='Signup') }}
        </div>
    </div>
</div>
{% endblock %}
