{% extends "layout2.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{{ url_for('root.login') }}" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="remember">Remember Me</label>
                {{ form.remember(class="form-control") }}
            </div>
            {{ form.next }}
            {{ form.submit(class="form-control") }}
        </div>
    </div>
</div>
{% endblock %}
