{% extends "layout2.html" %}
{% block body %}
<div class="container">
    {% if wikis %}
    <div class="row">
        {% for wiki in wikis %}
        <div class="col-sm-4"> 
            <h1><a href="{{ url_for('wiki.wiki_details', wiki_slug=wiki.slug, team_slug=team_slug) }}">{{ wiki.name }}</a></h1>
            <p>{{ wiki.description }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>You don't have any wikis, create one now!</p>
    {% endif %}
    <form action="{{ url_for('wiki.team_details', team_slug=team_slug) }}" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" class="form-control">
        </div>
        <input type="submit" class="form-control">
    </form>
</div>
{% endblock %}
